<%= form_for  @article do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error:") %> It is prohibited in this case the article to be saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b><%= f.label :título %></b><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <b><%= f.label :texto %></b><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit "Envie seu artigo"%>
  </p>
<% end %>


