<h1 class="text1">Lista de Artigos</h1>

<b><%=link_to 'Novo artigo', new_article_path %></b>

<table class="table1">
  <tr class="tr1">
    <th>Título</th>
    <th>Texto</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td class="td4"><%= article.title %></td>
      <td class="td4"><%= article.text %></td>
      <td class="td2"><%= link_to 'Abra', article_path(article) %></td>
      <td class="td2"><%= link_to 'Edite', edit_article_path(article) %></td>
      <td class="td2"><%= link_to 'Exclua', article_path(article),
              method: :delete,
              data: { confirm: 'Você tem certeza disso?' } %></td>
    </tr>
  <% end %>
</table>
