<h1>Lista de Artigos</h1>

<%=link_to 'Novo artigo', new_article_path %>

<table>
  <tr>
    <th>Título</th>
    <th>Texto</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Abra', article_path(article) %></td>
      <td><%= link_to 'Edite', edit_article_path(article) %></td>
      <td><%= link_to 'Exclua', article_path(article),
              method: :delete,
              data: { confirm: 'Você tem certeza disso?' } %></td>
    </tr>
  <% end %>
</table>
