<p>
  <strong class="text3">Título:</strong>
  <%= @article.title %>
</p>

<p>
  <strong class="text3">Texto:</strong>
  <%= @article.text %>
</p>

<h2 class="text2">Comentários:</h2>
<%= render @article.comments %>


<h2 class="text2"> Adicione um comentário:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edite', edit_article_path(@article) %> |
<% link_to 'Back', articles_path %>