<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert_error">
        O formulario contem <%= pluralize(@user.errors.count, "erro" ) %>
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <div class="box">
      <%= f.text_field :nome %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email %>
    <div class="box">
    <%= f.email_field :email %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password %>
    <div class="box">
        <%= f.password_field :password %>
    </div>
  </div>

  <div class="field">
    <%= f.label :confirme_password %>
    <div class="box">
        <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar" %>
  </div>
<% end %>
